# Core ignores
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.env.*
.vscode/
.idea/
*.sqlite3
*.db
*.log
*.bak
*.swp
*.swo
node_modules/
dist/
build/
coverage/
*.egg-info/
*.egg
pip-wheel-metadata/
test-results/
*.orig
*.rej
*.out
*.tmp
*.cache
*.pid
*.gz
*.zip
*.tar
*.tgz
*.rar
*.7z
*.xls
*.xlsx
*.ppt
*.pptx
*.doc
*.docx
*.pdf
*.csv
*.tsv
